
 <% link_edit = edit_post_path(@post)%>

<div class="grey lighten-2 container">
<div style="padding-top: 1%; padding-left:5%; padding-rigth:5%" class="card-panel  blue darken-2 white-text">
    <h4>
			 <%= @post.titulo %>
		</h4>
</div>

<div class="center-xs">
    <%img = @post.cover.url()%>
    <img style="max-width: 100%" src="<%= img %>">
</div>

<div style="padding-bottom:5%" class="container">
    <p>
      <%= @post.descripcion %>
    </p>
</div>
 
 <% if admin_signed_in?%>

  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a href="#modal1" class="modal-trigger btn-floating red"><i class="material-icons">delete</i></i></a></li>
      <li><a href="<%=link_edit%>" class="btn-floating yellow darken-1"><i class="material-icons">code</i></a></li>
      <li><a href="/posts/new" class="btn-floating green"><i class="material-icons">publish</i></a></li>
    </ul>
  </div>
  
<%= render "/layouts/popup", titulo: @post.titulo, delete: "post" %>


<% end %>
</div>

