<div class="container grey lighten-2">

  <input type="hidden" id="galleryID" value="<%= @gallery.id %>">
<div style="padding-top: 1%; padding-left:5%; padding-rigth:5%" class="card-panel  blue darken-2 white-text">
  <h5>
    <%= @gallery.name %>
  </h5>

  <p>
    <%= @gallery.description %>
  </p>
</div>


<!--GALERIA :D-->
<div class="row center-xs">
  
<div class=" fotorama" data-nav="thumbs">
<% unless @pictures.empty? %>
  <% @pictures.each do |pic| %>
  <a href="<%= pic.image.url %>"><img src="<%= pic.image.url(:thumb)%>"></a>
  <% end -%>
  <% end -%>
</div>
<!--GALERIA :D-->
</div>

  <% if admin_signed_in?%>

        <% link_edit = edit_gallery_path(@gallery) %>
        
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a href="#modal1" class="modal-trigger btn-floating red"><i class="material-icons">delete</i></i></a></li>
      <li><a href=" <%=link_edit %>" class="btn-floating yellow darken-1"><i class="material-icons">code</i></a></li>
      <li><a href="/galleries/new" class="btn-floating green"><i class="material-icons">publish</i></a></li>
    </ul>
  </div>
  <%= render "/layouts/popup_delete_gallery" , titulo: @gallery.name%>

<%end%>


</div><!--end -->

<!-- fotorama.css & fotorama.js. -->
<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->