

<div style="background: #eeeeee" class="container row center-xs col-sm-12">
  <% if admin_signed_in?%>
    <h2>
      <%= txt1 %>
    </h2>
    <h5>
      <%= txt2%>
    </h5-->


  <div class="card-panel">
      <!--Generar el formulario-->
    
    <div class="card-content">

    <% if programa == true then %> <!-- Formulario para los programas -->
      <%= form_for(@program) do |f| %>
        <%= f.text_field :titulo, placeholder: "Título" %>
        <%= f.text_area :descripcion, placeholder: "Descripcion", style:"height: 100px; max-width: 100%; max-height:150px"%>
        <!--Generar text fields solo si se requieren-->
            <%= f.text_field :hora, placeholder: "Hora en la que se transmite" %>
            <%= f.text_field :dias, placeholder: "Dias en los que se transmite" %>
        <!--Generar text fields solo si se requieren-->
        <%= f.text_field :portada, placeholder: "URL de la portada"%>
                <div>
                  <button class="btn">
                      Publicar
                    <%f.submit%>          
                  </button>       
                </div>
      <% end %>

    <% elsif programa == false then%> <!-- formulario para las publicaciones -->
        <%= form_for(@post) do |f| %>
          <%= f.text_field :titulo, placeholder: "Título" %>
          <%= f.text_area :descripcion, placeholder: "Descripcion" %>
          <%= f.text_field :portada, placeholder: "URL de la portada"%>

                <div>
                  <button class="btn">
                      Publicar
                    <%f.submit%>          
                  </button>       
                </div>
        <% end %>

    <% end %>
    </div>
  </div>
  
      <%else%>
      <h1>No tienes acceso a esta seccion</h1>
      <% end %> <!-- End If admin is singed in -->
</div>




