
<% titulo ||= "&titulo&" %>

<% if delete == "program" %>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>¿Está seguro que desea eliminar: <%= titulo %></h4>
      <p>Tenga en cuenta que una vez eliminado : "<%= titulo %>" no se podrá recuperar </p>
    </div>
    <div class="modal-footer">
      <%= link_to("Si", program_path, method: :delete, class:" modal-action modal-close waves-effect waves-green blue darken-4 btn") %>
              <%= delete %>
    </div>
  </div>

<% elsif delete == "post" %>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>¿Está seguro que desea eliminar: <%= titulo %></h4>
      <p>Tenga en cuenta que una vez eliminado : "<%= titulo %>" no se podrá recuperar </p>
    </div>
    <div class="modal-footer">
        <%= link_to("Si", post_path, method: :delete, class:" modal-action modal-close waves-effect waves-green blue darken-4 btn center-xs") %> 
        <%= delete %>
    </div>
  </div>

<% end %>



